* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #ffffff;
  }
  
  h1 {
    text-align: center;  
  }
  
  button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }

  button:disabled {
    opacity: 0.8;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  input {
    padding: 10px;
    margin: 8px 0;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}

  .side {
    float: left;
    width: 15%;
    padding: 15px;
  }

  .box {
    float: left;
    width: 70%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .responsive {
    max-width: 100%;
    height: auto;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .close {
    cursor: pointer;
  }

  .dropbtn {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    cursor: pointer;
    position: relative;
    background: #eee;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  ul li:hover {
    background: #ddd;
  }
    
  .box {
    background-color: #f1f1f1;
    padding: 25px;
    border-radius: 25px
  }

  .show {display: block;}
  
  #loader {
    margin-top: 25px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: none;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }