<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css">
<body>
  <h1>Where should I be?</h1>
  <p><center><i>- weather forecast comparing</i></center></p>
  <div class="row">
    <div class="side"></div>
    <div class="box">
      <div class="row">
        <p><br></p>
        <form id="form" name="myForm">
          <input id="address" 
                 placeholder="Address..."
                 required>
        <div style="overflow:auto;">
          <div style="float:right;">
            <button type="button"
                    class="dropbtn"
                    id="addBtn" 
                    onclick="findLocation()">
                    Add location
            </button>
            <div id="addressesDropdown" class="dropdown-content">
              <ul id="addressList">
                <li>Coffee eeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</li>
                <li>Tea</li>
                <li>Milk</li>
              </ul>
            </div>
          </div>
        </div>
      </form>
      </div>
      <div class="row">
        <table id="locations">
          <tr>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
          </tr>
        </table>
      </div>
      <div class="row" 
          style="overflow:auto;">
        <div style="float:right; margin-top: 25px;">
          <button type="button" 
                  id="submitBtn" 
                  disabled="true"
                  onclick="showForecast()">Show forecast
                  
          </button>
        </div>
      </div>
    </div>
    <div class="side"></div>
  </div>
  <div id="loader" class="responsive center"></div>
  </div>
  <img id="image" 
       alt=" "
       title=" "
       class="responsive center"></img>
{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
</html>
